<div class="container">
  <h3><%= @ware.name %></h3>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= cl_image_tag @ware.photos.first.key, height: 400, width: 500, crop: :fill %>
      </div>
      <% if @ware.photos.size > 1 %>
        <% @ware.photos.each do |photo| %>
          <div class="carousel-item">
            <%= cl_image_tag photo.key, height: 400, width: 500, crop: :fill %>
          </div>
        <% end %>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <p><%= @ware.description %></p>
  <p>price: <%= @ware.price %></p>
  <p>Sold by: <%= @ware.user.name %></p>
  <p>Where can I find this?: <%= @ware.address %></p>

  <div class="booking-form">
    <%= simple_form_for [@ware, @booking] do |f| %>
      <%= f.input :start_time, as: :date, label: "Start Date", html5: true, input_html: { min: Date.today } %>
      <%= f.input :end_time, as: :date, label: "End Date", html5: true, input_html: { min: Date.today } %>
      <%= f.submit "Book", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
